@import "tailwindcss";
/*GeronaMTOP\resources\css\app.css*/
@font-face {
    font-family: "LEMONMILK";
    src: url("/fonts/LEMONMILK-Light.otf") format("opentype");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: "LEMONMILK";
    src: url("/fonts/LEMONMILK-Regular.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "UPBOLTERS";
    src: url("/fonts/UPBOLTERS New-Regular.otf") format("opentype");
}
@font-face {
    font-family: "KeepCalm";
    src: url("/fonts/KeepCalm-Medium.ttf") format("truetype");
    font-weight: 500;
}
@font-face {
    font-family: "ArialNarrow7";
    src: url("/fonts/arialnarrow.ttf") format("truetype");
}
@font-face {
    font-family: "DiezmaRd";
    src: url("/fonts/Diezma-ExtraBold.otf") format("opentype");
    font-weight: 800;
}
@layer base {
    input::placeholder,
    textarea::placeholder {
        color: #6b7280 !important;
        opacity: 1 !important;
    }

    input::-webkit-input-placeholder,
    textarea::-webkit-input-placeholder {
        color: #6b7280 !important;
        opacity: 1 !important;
    }
}
@media print {
    body {
        -webkit-print-color-adjust: exact !important;
        print-color-adjust: exact !important;
    }
}
